---
import "../styles/main.css";
---
<header class="header">
  <div class="logo-title">
    <img src="/logo.png" alt="US Reg Support Logo" class="logo" />
    <h1>US Reg Support</h1>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/services">Products/Services</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
</header>